{
  "extends": [
    "plugin:@shopify/typescript",
    "plugin:@shopify/react",
    "plugin:@shopify/prettier",
    "plugin:@shopify/typescript-type-checking"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "no-unused-vars": "error",
    "no-unused-expressions": "error",
    "babel/object-curly-spacing": "off",
    "no-process-env": "off",
    "no-console": "warn",
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/require-await": "off",
    "@typescript-eslint/no-misused-promises": "off"
  }
}